div.padded {
	margin-left: 200px;
	margin-right: 200px;
}

div.top {
	border: 20px double white;
	background-color: #c0f2cb;
	margin-top: 50px;
	margin-bottom: 50px;
}

h1.top {
	font-family: 'Playfair Display', sans-serif;
	font-weight: bold;
	font-size: 125px;
	color: white;

	margin-top: 50px;
	margin-bottom: 0px;
	padding-left: 50px;
}

p.top {
	font-family: 'Montserrat', serif;
	font-weight: 600;
	font-size: 24px;
	color: white;

	margin-top: 0px;
	margin-bottom: 75px;
	padding-left: 50px;
	padding-right: 50px;
}